.woot {
  color: #000; }

.hi {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  margin: 0px;
  padding: 2px;
  background: #df9d0e; }
